<div class="3dObject">
    <figure>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
        <h1>📱 Scores</h1>
    </figure>
</div>

<h2 id="saludo">Hello</h2>
<h3 id="high-score">Your Best Score: </h3>
<div class="wraper-table table-scroll">
    <table class="beautifulTable">
        <thead>
            <tr>
                <th>Order </th>
                <th>Nick Name</th>
                <th>high Score</th>
            </tr>
        </thead>
        <tbody id="bodyTableBest" class="body-scroll">

        </tbody>
    </table>
</div>