<nav class='menu'>
  <input checked='checked' class='menu-toggler' id='menu-toggler' type='checkbox'>
  <label for='menu-toggler'></label>
  <ul>
    <li class='menu-item'>
      <!-- onclick="ROUTER.load('scores')" -->
      <a class='fas fa-question nav-link active' data-component="router" data-target="scores" href="#/scores"
       
      ></a>
    </li>
    <li class='menu-item'>
      <!-- onclick="ROUTER.load('play')" -->
      <a class='fas fa-chevron-right nav-link'  data-component="router"  data-target="game" href="#/game"
      ></a>
    </li>
    <li class='menu-item' >
      <!-- onclick="ROUTER.load('home')" -->
      <a class='fas fa-home nav-link' data-component="router" data-target="home" href="#/home"
      ></a>
    </li>
    
  </ul>
</nav>
