<div class="login-wrapper">
    <form id="formName" action="/" novalidate isValid="false">
        <div class="tooltip">Your Nick
            <div class="tooltip__content tooltip__content_top">[a-z][A-Z][_] only permited &#128525;</div>
            <div class="input-control">

                <input id="nickName" type="text" name="nickName" placeholder="nick name. Max size 20 min 3" required="required" max="20" min="3" data-tooltip="" autofocus />
                <div class="error"></div>


            </div>
            <button id="submitButton" type="submit" class="btn btn-primary btn-block btn-large">Let me Play.</button>
    </form>
    </div>