/* the Game ****** */


/* * {
    padding: 0 !important;
    margin: 0 !important;
} */

.game-wrapper {
    /* posicion  */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* tamaño */
    width: 100%;
    min-height: 100%;
    box-sizing: content-box;
    margin: auto;
    /* // contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* padding: 1rem 2rem; */
    background-color: #15232D;
    padding: 0;
}

.game-container {
    /* posicion  */
    position: relative;
    /* transform: translate(-50%, -50%); */
    /* left: 50%;
    top: 80%; */
    /* tamaño a partir de 1700 cambia*/
    width: 100%;
    min-height: 100%;
    box-sizing: content-box;
    /* position: absolute;
    width: 90%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.6em;
}

.info-player {
    /* border: 1px solid red; */
}

.stats-container {
    text-align: right;
    padding-right: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.6em;
}

.stats-container span {
    font-weight: 600;
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #15232D;
    top: 0;
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
}

#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #ff0000;
    color: #ffffff;
}

#start {
    background-color: #07a007;
    color: #ffffff;
}

.controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}

.hide {
    display: none;
}

#result {
    text-align: center;
}

#result h2 {
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 2px 5px #00000020;
}

#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
    color: #ffffff;
    text-shadow: 2px 5px #00000020;
}


/* reloj letra monoespaciada */

#time {
    font-family: Lucida Console, monospace;
}


/* my svg icons  */

.svg-icon,
svg {
    max-width: 100px;
    width: 150px !important;
    margin: 0 12px;
    /* border: 1px solid red; */
}

.svg-icon svg {
    margin: 0 auto;
    transform: scale(1);
}

.svg-icon.white {
    fill: #ffffff;
}

.svg-icon.green {
    fill: green;
}

.svg-icon.red {
    fill: red;
}

#left-foot,
#right-foot {
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .svg-icon svg {
        max-width: 150px;
        margin: 3rem;
    }
}