/* PWA - single page app - NO FRAMEWORKS */


/**** Reset ****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    overflow: hidden;
    background: #000000;
    font-size: 20px;
}

html {
    font-size: 20px;
    /* 1rem will equal this now */
    line-height: 1.6;
    font-family: sans-serif;
    /* add google fonts */
    min-width: 360px;
}


/* variables  */

:root {
    /* basic color palette */
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 90%);
    --black-1: hsl(0, 0%, 0%);
    --black-2: hsl(0, 0%, 20%);
    --blue-1: hsl(200, 50%, 50%);
    /* fonts */
    --ft-fy-fallback-1: sans-serif;
    --ft-fy-1: "Poppins", var(--ft-fy-fallback-1);
    --ft-se-300: 0.9rem;
    --ft-se-400: 1.05rem;
    /* spaces */
    --space-300: 1em;
    --space-350: 1.7em;
    --space-400: 2em;
    --space-600: 3em;
    /* z-index */
    --zx-400: 400;
}


/* Progressive web app */

body {
    background-color: #546E7A;
    color: white;
    font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-width: 360px;
}

a,
a:visited {
    color: white;
}

h1 {
    text-align: center;
}

.hidden {
    display: none !important;
}


/* pwa install button */

#installContainer {
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    width: 100%;
}

#installContainer button {
    background-color: inherit;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    padding: 0.75em;
}


/**** PAGES ****/

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    /* allow for content off the bottom of the page */
    position: fixed;
    /* or absolute if the user needs to scroll for more content */
    padding: 1rem 2rem;
}

.active {
    display: block;
}

#play {
    background-color: #717D88;
}

#home {
    background-color: #15232D;
}

#scores {
    background-color: hsl(240, 17%, 20%);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}

.big {
    font-size: 5rem;
    font-weight: 900;
}